<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">

<h2>Create Pet</h2>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="POST" action="{{ url_for('create_page') }}">
    Name: <input type="text" name="name">
    Type:
    <select name="type">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="dragon">Dragon</option>
    </select>
    <button type="submit">Create</button>
</form>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-HQQMxC44GmRNpXDHSctkJwbA1_GJ234Hbg&s"  
             alt="cat" width="100" style="border: 0px">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1jUl3OC3jRg-YJu2h-nXPdv5I3oItXX6NNA&s"  
             alt="dog" width="100" style="border: 0px">

<img src="https://www.stickdecor.co.il/files/products/image3_3911_2019-10-23_06-36-41.png"  
             alt="dragon" width="100" style="border: 0px">

<br>
<a href="{{ url_for('home_page') }}">Back</a>